.custom-searchbar .searchbar-input {
    border: none;
  }

  .recipe-image {

    
  object-fit: cover;
}

#family{
  font-family: "Gill Sans", sans-serif;
}


@media only screen and (max-width: 298px) {
  .moon{
    display: none;
  }
}
/* 
@media only screen and (max-width: 991px) {
  #title{
    display: none;
  }
}
@media only screen and (max-width: 757px) {
  #title{
    display: block;
    margin-top: 14px;
  }
}
@media only screen and (max-width: 343px) {
  #title{
    display: none;
    margin-top: 14px;
  }
} */

@media only screen and (max-width: 1082px) {
  #title{
    display: none;
    margin-top: 14px;
  }
} 
 
  #overflow-hidden::-webkit-scrollbar {
    display: none;

  }
  #overflow-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }